
    <div class="navbar bg-base-300 w-full">
      <div class="navbar-start"></div>
      <div class="navbar-center">
        <a class="btn btn-ghost normal-case text-xl">Code Machina</a>
      </div>
      <div class="navbar-end"></div>
    </div>

    <!-- Page content here -->
    <main class="container mx-auto px-4 py-4">
      Content
      <button class="btn btn-primary">btn-primary</button>
      <button class="btn btn-secondary">btn-secondary</button>
      <button class="btn btn-accent">btn-accent</button>
      <button class="btn btn-neutral">Hello daisyUI</button>
      <button class="btn btn-info">Hello daisyUI</button>
      <button class="btn btn-success">Hello daisyUI</button>
      <button class="btn btn-warning">btn-warning</button>
      <button class="btn btn-error">Hello daisyUI</button>

      <modus-horizontal-navigation-bar></modus-horizontal-navigation-bar>
      <router-outlet></router-outlet>

    </main>

